body {
  color: $base-font-color;
  font-family: $base-font-family;
  //font-feature-settings: "kern", "liga", "pnum";
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  line-height: $heading-line-height;
  margin: 0 0 $base-spacing 0;
  font-weight: 600;
  color: $heading-color;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.125rem;
}

h6 {
  font-size: 1rem;
}

p {
  margin: 0 0 $base-spacing;

  &.lead {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.7;
  }
}

a {
  color: $action-color;
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover {
    color: $accent-blue-dark;
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

blockquote {
  padding: $base-spacing;
  margin: $base-spacing 0;
  color: $muted-text-color;
  line-height: 1.8;
  border-left: 4px solid $action-color;
  background-color: $secondary-background-color;
  border-radius: $base-border-radius;
  font-style: italic;
}

code {
  font-family: $monospace-font-family;
  font-size: 0.875em;
  margin: 0;
  padding: 0.125rem 0.375rem;
  background-color: $code-background-color;
  border-radius: $base-border-radius;
  color: $dark-gray-color;
}

pre {
  -webkit-overflow-scrolling: touch;
  font-family: $monospace-font-family;
  font-size: 0.875rem;
  margin: $base-spacing 0;
  padding: $base-spacing;
  overflow: auto;
  background-color: $code-background-color;
  border-radius: $base-border-radius;
  white-space: pre;
  line-height: 1.6;

  code {
    padding: 0;
    background-color: transparent;
    border-radius: 0;
  }
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

ul,
ol,
dl {
    margin-top: 0;
    margin-left: 1.2em;
    margin-bottom: 1rem;
    list-style-type: square;
    list-style-position: outside;
    list-style-image: none;
}
