<footer class="site-foot{% if page.foot_rule %} site-foot--ruled{% endif %}">
  <div class="shell">
    <div class="site-foot__inner">
      <span>&copy; {{ site.time | date: '%Y' }} {{ site.author.name }}</span>
      <span class="site-foot__set">Set in Instrument Sans</span>
      <div class="site-foot__links">
        <a href="{{ "/search/" | prepend: site.baseurl }}">Search</a>
        <a rel="me" href="{{ site.author.mastodon | default: site.mastodon_username }}">Mastodon</a>
        <a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a>
      </div>
    </div>
  </div>
</footer>
