<head>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"> {% assign page_title = '' %} {% if page.title == "Home" %} {% capture page_title %} {{ site.title }}{{ site.title2 }}
    | {{ site.description }} {%if paginator and paginator.page != 1 %} - Página {{ paginator.page }}{% endif %} {% endcapture
    %} {% else %} {% capture page_title %} {%if page.slug == 'category' %}Categoria: {% endif %} {%if page.slug == 'tag'
    %}Tag: {% endif %} {{ page.title }} | {{ site.title }}{{ site.title2}} {% endcapture %} {% endif %} {% capture page_title
    %} {{ page_title | strip | rstrip | lstrip | escape | strip_newlines }} {% endcapture %}

    <title>{{ page_title }}</title>

    {% assign page_description = '' %} {% capture page_description %} {% if page.description %} {{ page.description | strip_html
    | strip | rstrip | strip_newlines | truncate: 160 }} {% else %} {{ site.description }} {% endif %} {%if paginator and
    paginator.page != 1 %} - Página {{ paginator.page }} {% endif %} {%if page.slug == 'category' %} Categoria: {{ page.title
    }}{% endif %} {%if page.slug == 'tag' %} Tag: {{ page.title }}{% endif %} {% endcapture %} {% capture page_description
    %} {{ page_description | strip | rstrip | lstrip | escape | strip_newlines }} {% endcapture %}

    <meta name="description" content="{{ page_description }}">
    <meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.keywords }}{% endif %}">
    <meta name="google-site-verification" content="-tIA8dIMj30eU8QCZnxxmwo_q7t7CIeUsYJMDdvApps" />
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320"> {% assign page_image = '' %} {% capture page_image %} {% if page.cover %} {{ page.cover | prepend: site.baseurl | prepend:
    site.url }} {% else %} {{ site.cover | prepend: site.baseurl | prepend: site.url }} {% endif %} {% endcapture %} {% capture
    page_image %}{{ page_image | strip | rstrip | lstrip | escape | strip_newlines }}{% endcapture %}

    <!-- Social: Facebook / Open Graph -->
    {% if page.id %}
    <meta property="og:type" content="article">
    <meta property="article:author" content="{{ site.author.name }}">
    <meta property="article:section" content="{{ page.categories | join: ', ' }}">
    <meta property="article:tag" content="{{ page.keywords }}">
    <meta property="article:published_time" content="{{ page.date }}"> {% else%}
    <meta property="og:type" content="website"> {% endif %}
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <meta property="og:title" content="{{ page_title }}">
    <meta property="og:image" content="{{ page_image }}">
    <meta property="og:description" content="{{ page_description }}">
    <meta property="og:site_name" content="{{ site.author.name }}">
    <meta property="og:locale" content="{{ site.og_locale }}">

    <!-- Social: Twitter -->
    <meta name="twitter:card" content="{{ site.twitter_card }}">
    <meta name="twitter:site" content="{{ site.twitter_site }}">
    <meta name="twitter:title" content="{{ page_title }}">
    <meta name="twitter:description" content="{{ page_description }}">
    <meta name="twitter:image:src" content="{{ page_image }}">

    <!-- Social: Google+ / Schema.org  -->
    <meta itemprop="name" content="{{ page_title }}">
    <meta itemprop="description" content="{{ page_description }}">
    <meta itemprop="image" content="{{ page_image }}">

    <!-- rel prev and next -->
    {% if paginator.previous_page %}
    <link rel="prev" href="{{ paginator.previous_page_path | prepend: site.baseurl | prepend: site.url }}"> {% endif %} {% if paginator.next_page %}
    <link rel="next" href="{{ paginator.next_page_path | prepend: site.baseurl | prepend: site.url }}"> {% endif %}

    <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl | prepend: site.url }}">
    <link rel="stylesheet" href="{{ "/assets/css/font-awesome.min.css" | prepend: site.baseurl | prepend: site.url }}">

    <!-- Canonical link tag -->
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}{{ site.title2 }}" href="{{ " /feed.xml
        " | prepend: site.baseurl | prepend: site.url }}">
  
    <!-- Include quicklink from dist -->
<script src="https://unpkg.com/quicklink"></script>
<!-- Initialize (you can do this whenever you want) -->
<script>
quicklink.listen();
</script>
<script>
    (function(a,b,c){var d=a.history,e=document,f=navigator||{},g=localStorage,
    h=encodeURIComponent,i=d.pushState,k=function(){return Math.random().toString(36)},
    l=function(){return g.cid||(g.cid=k()),g.cid},m=function(r){var s=[];for(var t in r)
    r.hasOwnProperty(t)&&void 0!==r[t]&&s.push(h(t)+"="+h(r[t]));return s.join("&")},
    n=function(r,s,t,u,v,w,x){var z="https://www.google-analytics.com/collect",
    A=m({v:"1",ds:"web",aip:c.anonymizeIp?1:void 0,tid:b,cid:l(),t:r||"pageview",
    sd:c.colorDepth&&screen.colorDepth?screen.colorDepth+"-bits":void 0,dr:e.referrer||
    void 0,dt:e.title,dl:e.location.origin+e.location.pathname+e.location.search,ul:c.language?
    (f.language||"").toLowerCase():void 0,de:c.characterSet?e.characterSet:void 0,
    sr:c.screenSize?(a.screen||{}).width+"x"+(a.screen||{}).height:void 0,vp:c.screenSize&&
    a.visualViewport?(a.visualViewport||{}).width+"x"+(a.visualViewport||{}).height:void 0,
    ec:s||void 0,ea:t||void 0,el:u||void 0,ev:v||void 0,exd:w||void 0,exf:"undefined"!=typeof x&&
    !1==!!x?0:void 0});if(f.sendBeacon)f.sendBeacon(z,A);else{var y=new XMLHttpRequest;
    y.open("POST",z,!0),y.send(A)}};d.pushState=function(r){return"function"==typeof d.onpushstate&&
    d.onpushstate({state:r}),setTimeout(n,c.delay||10),i.apply(d,arguments)},n(),
    a.ma={trackEvent:function o(r,s,t,u){return n("event",r,s,t,u)},
    trackException:function q(r,s){return n("exception",null,null,null,null,r,s)}}})
    (window,"{{ site.google_analytics }}",{anonymizeIp:true,colorDepth:true,characterSet:true,screenSize:true,language:true});
  </script>
<script src="https://cdn.jsdelivr.net/npm/prerender_all@1.0.0/prerender.js"></script>
</head>