---
layout: post
title: ""
description: ""
comments: true
category: "Links"
keywords: "Links, extravaganza, Tech, IT, Microservices, NodeJs, C#, Javascript, Solution architecture"
---

## Categories ##
* [My favorites](#favorites)
* [Ideas, Thoughts, comments](#ideas)
* [Agile, Organizations and process](#agile)
* [Architecture, Development & Software development practices](#development)
* [Programming](#net)
* [Frontend matters](#web)
* [Tools and things from Github](#tools)
* [DevOps](#devops)
* [Security](#security)
* [Monitoring and Performance](#monitoring)
* [Made me Laugh, Cry or just news](#news)

# My favorites<a name="favorites"></a> #

## Ideas, Thoughts, comments <a name="ideas"></a> ##

## Agile, Organizations and process<a name="agile"></a> ##

## Architecture, Development & Software development practices <a name="development"></a> ##


## Frontend matters <a name="web"></a> ##

## Tools and things from Github <a name="tools"></a> ##

## DevOps<a name="devops"></a> ##

## Security<a name="security"></a> ##

## Monitoring and Performance <a name="monitoring"></a> ##

## Made me Laugh, Cry or just news. <a name="news"></a> ##
