---
layout: post
title: ""
description: ""
comments: true
category: "Links"
keywords: "Links, extravaganza, Tech, IT, Microservices, NodeJs, C#, Javascript, Solution architecture"
---

# My favorites<a name="favorites"></a> #

## Agile, Organizations and process<a name="agile"></a> ##

## Architecture, Development & Software development practices <a name="development"></a> ##

## Tools and things from Github <a name="tools"></a> ##

## DevOps<a name="devops"></a> ##

